body {
  font-family: "Roboto", sans-serif;
}

.app {
  margin-left: 160px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333740;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s all linear;
}

.sidenav a:hover {
  background: #f1f1f1;
  color: #333740 !important;
  font-size: 26px; /* Increased text to enable scrolling */
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.column h3 {
  text-align: center;
}

.assignmentlist {
  list-style: none;
}

.assignmentlist li {
  padding-top: 8px;
  padding-bottom: 8px;
}
