.main {
  padding-left: 155px;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 33px;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(11, 108px);
  grid-template-rows: 100px;
  grid-column-gap: 10px;
  padding-bottom: 15px;
  padding-left: 170px;
}

.grid2 {
  height: 700px;
  width: 1285px;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 20% 30% 40%;
  padding-left: 170px;
}

.configurationManagement,
.construction,
.design,
.foundations,
.maintenance,
.modelsAndMethods,
.process,
.management,
.quality,
.requirements,
.testing {
  border: 2px #333740 solid;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.configurationManagement:hover,
.construction:hover,
.design:hover,
.foundations:hover,
.maintenance:hover,
.modelsAndMethods:hover,
.process:hover,
.management:hover,
.quality:hover,
.requirements:hover,
.testing:hover {
  background-color: #333740;
  color: white;
}

.category,
.activity,
.reading,
.blank1,
.training,
.blank2,
.professionalExperience,
.blank3 {
  border-bottom: 2px #333740 solid;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 200px;
}

.category,
.reading,
.training,
.professionalExperience {
  border-right: 2px #333740 solid;
  border-left: 2px #333740 solid;
}

.category,
.activity {
  background-color: #d82631;
  color: white;
  border-top: 2px #333740 solid;
}

.activity,
.blank1,
.blank2,
.blank3 {
  border-right: 2px #333740 solid;
}
