head {
  background-color: #333740;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(11, 106px);
  grid-template-rows: 100px;
  grid-column-gap: 10px;
  padding-bottom: 15px;
}

.grid2 {
  border: 2px #333740 solid;
  height: 700px;
  width: 1266px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 10% 20% 30% 40%;
}

.configurationManagement,
.construction,
.design,
.foundations,
.maintenance,
.modelsAndMethods,
.process,
.management,
.quality,
.requirements,
.testing {
  border: 2px #333740 solid;
  text-align: center;
  font-family: roboto;
}

.category,
.activity,
.reading,
.blank1,
.training,
.blank2,
.professionalExperience,
.blank3 {
  border-bottom: 2px #333740 solid;
}

.category,
.reading,
.training,
.professionalExperience {
  border-right: 2px #333740 solid;
}

.category,
.activity {
  background-color: #d82631;
  color: white;
}
