head {
  background-color: #333740;
}

.grid1 {
  display: grid;
  border: 2px #333740 solid;
  grid-template-columns: repeat(11, 83px);
  grid-template-rows: 100px;
  grid-column-gap: 10px;
}

.grid2 {
  border: 2px #333740 solid;
  height: 700px;
  width: 1000px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-columns: 10% 20% 30% 40%;
}

.configurationManagement,
.construction,
.design,
.foundations,
.maintenance,
.modelsAndMethods,
.process,
.management,
.quality,
.requirements,
.testing {
  border: 2px #333740 solid;
}
